/* api-pages-setting */
body {
    width: 100%;
    background-image: url('../../assets/img/pages.png');
}
.container {
    text-align: center;
    margin: 0 auto;
}
#header {
    height: 20vh;
    border-bottom: 5px double #000;
}
#header h2 {
    font-family: 'Rakkas';
    font-size: 6vw;
}
.login_contents {
    display: none;
}
.login_contents.show {
    display: block;
}
.login_contents .login_desc {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    margin: 5vh auto;
    width: 50%;
    font-size: 1vw;
}
.login_contents li {
    padding: 2vh 0;
    margin: 2vh auto;
    width: 50%;
    border: 1px solid #000;
}
.login_contents li a img{
    width: 2vw;
    display: inline-block;
}
.login_contents li a span {
    display: inline-block;
    font-family: 'Ramaraja';
    font-size: 2vw;
}
.logout_contents {
    display: none;
}
.logout_contents.show {
    display: block;
}
.logout_contents .logout_desc {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    margin: 5vh auto;
    width: 58vw;
    font-size: 1vw;
}
.logout_contents li {
    padding: 2vh 0;
    margin: 2vh auto;
    width: 50vw;
    border: 1px solid #000;
}
.logout_contents li a img{
    width: 2vw;
    display: inline-block;
}
.logout_contents li a span {
    display: inline-block;
    font-family: 'Ramaraja';
    font-size: 2vw;
}