/* api-pages-setting */
body {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/pages.svg');
    text-align: center;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 20vh;
    border-bottom: 2px solid #000;
}
#header h2 {
    position: absolute;
    font-family: 'Rakkas', cursive;
    font-size: 6vw;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#main {
    border-top: 0.5px solid #000;
    margin-top: 0.5vh;
    height: 79.5vh;
}

/* login */
.header_title {
    display: block;
}
.header_title.none {
    display: none;
}
.main_contents {
    display: block;
}
.main_contents.none {
    display: none;
}
.main_contents .login_desc {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    margin: 5vh auto;
    width: 50%;
    font-size: 1vw;
    margin-bottom: 10vh;
}
.main_contents li {
    text-align: left;
    padding: 2.5vh 0vh 2vh 5vh;
    margin: 2.5vh auto;
    width: 30%;
    border: 1px solid #000;
    transition: all 0.3s;
    cursor: pointer;
}
.main_contents li:hover {
    background-color: #aaaaaa79;
}
.main_contents li a img{
    width: 2.5vw;
    display: inline-block;
    margin-right: 3vw;
}
.main_contents li a span {
    display: inline-block;
    font-family: 'Ramaraja', serif;
    font-size: 2.5vw;
    line-height: 0.1;
    vertical-align: 0.3vw;
}
.main_contents {
    display: block;
}
.main_contents.none {
    display: none;
}
.main_title {
    display: block;
}
.main_title.none {
    display: none;
}
.main_contents .main_desc {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    margin: 5vh auto 7vh;
    width: 50%;
}
.main_contents .main_desc span {
    text-align: center;
    font-size: 0.8vw;
    display: block;
}
.main_contents .main_desc span strong {
    font-size: 1vw;
    font-weight: 800;
    display: block;
    text-align: center;
    margin-bottom: 2vh;
}
.main_contents .main_desc span em {
    font-size: 0.8vw;
    font-weight: 800;
    display: block;
    text-align: right;
    margin-top: 2vh;
}
.main_contents .main_desc span:first-child {
    font-weight: 500;
}
.main_contents .main_desc .name {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vh;
}
.main_contents li {
    text-align: left;
    padding: 2.5vh 0vh 2vh 5vh;
    margin: 2.5vh auto;
    width: 30%;
    border: 1px solid #000;
    transition: all 0.3s;
    cursor: pointer;
}
.main_contents li:hover {
    background-color: #aaaaaa79;
}
.main_contents li a img{
    width: 2.5vw;
    display: inline-block;
    margin-right: 3vw;
}
.main_contents li a span {
    display: inline-block;
    font-family: 'Ramaraja', serif;
    font-size: 2.5vw;
    line-height: 0.1;
    vertical-align: 0.3vw;
}
/* main */


/* weather */
.info-box {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    font-family: 'NEXONLv1Gothic';
}
.info-box .weather {
    width: 20%;
    text-align: center;
}
.info-box .weather >div {
    margin-bottom: 1vw;
}
.info-box .weather .location{
    font-size: 1.4vw;
    font-weight: 700;
}
.info-box .weather .state{
    font-size: 1vw;
    font-weight: 500;
}
.info-box .weather .tem{
    font-weight: 300;
}
.info-box .weather .img img{
    margin-top: 2vw;
    width: 10vw;
    height: 10vw;
}
.info-box .dust{
    width: 20%;
    text-align: center;
}
.info-box .dust >div {
    margin-bottom: 1vw;
}
.info-box .dust .dust-title{
    font-size: 1.4vw;
    font-weight: 700;
}
.info-box .dust .grade{
    font-size: 1vw;
    font-weight: 500;
}
.info-box .dust .vlaue{
    font-weight: 300;
}
.info-box .dust .img img{
    margin-top: 2vw;
    width: 10vw;
    height: 10vw;
}

/* weather */

.back_main {
  position: fixed;
  right: 5%;
  bottom: 5%;
  display: inline-block;
  margin: 20px;
  max-width: 70px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.back_main *,
.back_main:before,
.back_main:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back_main:before,
.back_main:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.back_main img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.back_main figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.back_main span {
  position: absolute;
  font-family: 'Ramaraja', serif;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15px;
  z-index: 1;
}

.back_main a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.back_main:hover figcaption,
.back_main.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.back_main:hover:before,
.back_main.hover:before,
.back_main:hover:after,
.back_main.hover:after {
  border-width: 10px;
}

.back_main:hover:before,
.back_main.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.back_main:hover:after,
.back_main.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* map */
.map_main_contents{
    width: 100%;
    height: 100%;
}
#smain {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
}
#smain .content-article {
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
#smain .route {
    padding: 5%;
    border: 1px solid #A7A7A7;
    width: 422px;
}
#smain .schedule .route:last-child {
    height: 550px;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#smain .schedule .wrap{
    padding: 10px 20px 20px 20px;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: 900;
    border-radius: 5px;
}
#smain .schedule .circle {
    font-size: 12px;
    position: relative;
    color: #fff;
    background-color: #1A7AD9;
    border-radius:75px;
    width: 36px; height: 36px;
    margin-bottom: 16px;
}
#smain .schedule .circle:nth-child(2){
    background-color: #424B5A;
}
#smain .schedule .circle:nth-child(3){
    background-color: #F95C4E;
}
#smain .schedule .circle:nth-child(1):after {
    position: absolute;
    left: 7px; top: 10px;
    content: '출발';
}
#smain .schedule .circle:nth-child(2):after {
    position: absolute;
    left: 7px; top: 10px;
    content: '경유';
}
#smain .schedule .circle:nth-child(3):after {
    position: absolute;
    left: 7px; top: 10px;
    content: '도착';
}
#smain .circle-wrap {
    margin-top: 16px;
    float:left;
}
#smain .wrap {
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
    margin-bottom: 10px;
}
#smain .title {
    resize: none;
}
#smain .intro {
    resize: none;
}
#smain .schedule table {
    float: left;
    width: 290px;
    border-collapse: separate;
    border-spacing: 0 17px;
}

#smain .schedule td {
    border-bottom: 1px solid #000;
    font-size: 12px;
    height: 34px;
    padding-left: 10px;
}

#smain .route h3 {
    font-weight: 800;
    margin-bottom: 10px;
}
#smain .map {
    position: relative;
    margin-left: 15px;
    box-sizing: border-box;
    border: 1px solid #A7A7A7;
    width: 100%;
    height: 840px;
}
#smain .comment {
    display: inline-block;
    height: 40px;
    width: 40%;
    background: #363C48;
    border-radius: 5px;
    text-align: center;
}
#smain .comment.white {
    display: inline-block;
    height: 40px;
    width: 40%;
    background: #fff;
    border: 1px solid #363C48;
    border-radius: 5px;
    text-align: center;
}
#smain .comment a {
    color:#fff;
    display: inline-block;
    margin-top: 10px;
}
#smain .comment.white a {
    color:#363C48;
    display: inline-block;
    margin-top: 10px;
}
#smain .comment-wrap {
    display: flex;
    justify-content: space-around;
}
#smain .overlay {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    z-index: 9999;
    position: absolute;
    border-radius: 3px;
    left: 10px; top: 10px;
    width: 300px;
    height: 66px;
    background: #fff;
}
#smain .overlay span {
    position: absolute;
    display: inline-block;
    left: 4%; top: 50%;
    transform: translate( 0%, -50%);

}
