body {
    
    height: 10000vh;
}
#contents >div {
    position: relative;
    font-family: 'Eulyoo1945-Regular';
}
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.scroll {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    background: rgba(253, 220, 220, 0.3);
    border-radius: 50%;
    z-index: 10000;
}


/* 사이드컨텐츠 고정! */
.fixed-cont {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 1;
}
.fixed-cont .top-link{
    position: absolute;
    left: -8vh;
    top: 8vh;
    font-size: 2vw;
    color: #fff;
}
.fixed-cont .menu-clip{
    position: absolute;
    left: -4vw;
    bottom: 8vh;
    width: 6vh;
    height: 6vh;
    text-align: center;
    background: #EAAF96;
    border-radius: 50%; 
}

.fixed-cont .menu-clip span{
    position: relative;
}
.fixed-cont .menu-clip span::after {
    content: '';
    width: 2vh; 
    height: 2vh;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    display: inline-block;
    transform: rotate(135deg); /* 각도 */
    position: absolute;
    top: 1.5vh;
    left: -1.1vh;
}
/* 사이드컨텐츠 고정! */



/* 섹션1 */
#section1 {
    height: 7000px;
}
.s1-contents {
    width: 95vw;
    height: 100%;
    display: flex;
    margin-left: 5vw;
}
.s1-contents .content-wrap {

    position: relative;
    width: 45%;
    background: #EAAF96;
}
.s1-contents .content-wrap .content-number {
    color: #fff;
    position: absolute;
    left: 5.4vw; top:20vh;
    font-size: 2vw;
}
.s1-contents .content-wrap .content-img {
    position: absolute;
    display: block;
    left: 50%; top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}
.s1-contents .content-wrap .content-img img {  
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.s1-contents .content-wrap .content-desc {
    color: #fff;
    width: 70%;
    position: absolute;
    left: 5.4vw; bottom: 13vh;
    font-size: 1.7vh;
    font-weight: lighter;
}
.s1-contents .content-wrap .content-desc span{}
.s1-contents .s1-img{
    width: 55%;
    height: 100%;
}
.s1-contents .s1-img img{
    width:100%; height:100%;
    object-fit: cover;
}
.s1-title{
    position: fixed;
    left: 0;
    top:0;
    transform: translate(42vw, 39vh);
    font-size: 13vw;
    color: #fff;
}
.s1-title .span1 {
    display: block;
    line-height: 0.5;
}
.s1-title .span2 {
    display: block;
    position: absolute;
    font-size: 10vw;
    left: 70%;
}
/* 섹션1 */