body {
    
    height: 10000vh;
}
#contents >div {
    position: relative;
    font-family: 'Eulyoo1945-Regular';
}
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.scroll {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    background: rgba(253, 220, 220, 0.3);
    border-radius: 50%;
    z-index: 10000;
}


/* 사이드컨텐츠 고정! */
.fixed-cont {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 1;
}
.fixed-cont .top-link{
    position: absolute;
    left: -8vh;
    top: 8vh;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
}



/* 섹션1 */
#main {
    height: 7000px;
}
.s-contents {
    width: 95vw;
    height: 100%;
    display: flex;
    margin-left: 5vw;
}
.s-contents .content-wrap {
    position: relative;
    width: 45%;
    background: #EAAF96;
}
.s-contents.s2 .content-wrap {
    background: #CAB174;
}
.s-contents .content-wrap .content-number {
    color: #fff;
    position: absolute;
    left: 5.4vw; top:20vh;
    font-size: 2vw;
}
.s-contents .content-wrap .content-img {
    position: absolute;
    display: block;
    left: 50%; top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}
.s-contents .content-wrap .content-img img {  
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.s-contents .content-wrap .content-desc {
    color: #fff;
    width: 70%;
    position: absolute;
    left: 5.4vw; bottom: 13vh;
    font-size: 1.7vh;
    font-weight: lighter;
}
.s-contents .content-wrap .content-desc span{}
.s-contents .s-img{
    width: 55%;
    height: 100%;
}
.s-contents .s-img img{
    width:100%; height:100%;
    object-fit: cover;
}
.s-title{
    position: absolute;
    left: 0;
    top:0;
    transform: translate(35vw, 39vh);
    font-size: 13vw;
    color: #fff;
}
.s-title .span1 {
    display: block;
    line-height: 0.5;
}
.s-title .span2 {
    display: block;
    position: absolute;
    font-size: 10vw;
    left: 70%;
}
.title-weather {
    font-size: 8vw;
}
.title-weather .span2 {
    left: 80%;
    font-size: 7vw;
}
/* 섹션1 */